
<div id="main-banner" class="w-100">
    <img src="images/{{img}}" alt="Chanel J12" class="d-md-none w-100 d-block mb-3">
    <div class="content text-center text-md-left">
        <h1>{{title}}</h1>
        <p>{{message}}</p>
    </div>
</div>

