#product-banner{
  background-color: $prod-bg-color;
  padding-top: 30px;
  padding-bottom: 30px;
  .product-image{
    width: 450px;
    max-width: 100%;
    height: auto;
  }

  .product-name{
    font-size: 1.25rem;
  }
  .desc{
    font-size: 1rem;
  }
}


#product-features{
  padding-top: 45px;
  padding-bottom: 45px;
  .label{
    margin-bottom: .5rem;
    font-size: 1rem;
  }
  .info{
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
  }
}


@media (min-width: 768px) {
  #product-banner{
    padding-top: 60px;
    padding-bottom: 60px;
    .product-image{
      margin-bottom: 30px;
    }
  }
  #product-features{
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
